html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  height: 100%;
  padding: 30px;
  background: #0f0f0f;
}

.content {
  flex: 1;
  height: 100%;
  display: flex;
}

.page {
  flex: 1;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #4b525f, #020617);
}
